In [1]:
import pandas as pd

clt_eats = "../group4project3/top_rated_restaurants.csv"
clteats_df = pd.read_csv(clt_eats)
clteats_df.head()

,name,latitude,longitude,categories
0,Abugida Ethiopian Cafe & Resturant,35.217977,-80.793942,Restaurants;Ethiopian
1,Ari's Pizza,35.249514,-80.779849,Restaurants;Pizza
2,Balu's Biryani,35.227087,-80.843127,Restaurants;Indian;Caterers;Event Planning & S...
3,Big City Grill,35.249536,-80.778819,Burgers;American (Traditional);Hot Dogs;Greek;...
4,Chili Man,35.226911,-80.843823,Food;Street Vendors;Restaurants;Hot Dogs

In [2]:
clteats_df.to_html('top_restaurants_df')